brainstorming notes.txt
try.ipynb
2016APR LFS Manual .pdf
ISH FORM2 APR2016.pdf
LFS PUF April 2016.CSV

.ipynb_checkpoints\STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints\STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints\STINTSY_MCO_LFS-checkpoint.ipynb 
src\models\__pycache__\
/src/__pycache__
/src/models/__pycache__
/.ipynb_checkpoints
