brainstorming notes.txt
try.ipynb
2016APR LFS Manual .pdf
ISH FORM2 APR2016.pdf
LFS PUF April 2016.CSV

.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
/src/__pycache__
