.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
.ipynb_checkpoints/STINTSY_MCO_LFS-checkpoint.ipynb
src/_pycache_/LogisticRegression.cpython-37._pycache_
src/models/__pycache__/LogisticRegression.cpython-312.pyc
/src/__pycache__
